@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Indie+Flower&family=Montserrat:wght@100;400&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 100;
  text-shadow: magenta 2px 2px 2px, -4px 4px 2px cyan;
}

h2 {
  font-family: 'Indie Flower', cursive;
}
